html {
   /* background-color: grey; */
}

body {
    width: 660px;
    background-color: white;
    padding: 20px;
    color: #333;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-size: 15px;
    line-height: 21px;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    clear: both;
    outline: 1px solid #AAA;
}

h1 {
    color: #505050;
    font-weight: bold;
    font-size: 150%;
    padding-top: 20px;
}


a:link {
    color: #2A4CB2;
    text-decoration: none;
}      /* unvisited link */
a:visited {
    color: #2A4CB2;
}  /* visited link */
a:hover {color:#BE94B9;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */ 

.title {
    display: none; 
}

#title {
    color: #505050;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    margin-bottom: 30px;
}

#nav {
    text-align: center;
    margin-bottom: 30px;
}

#nav ul {
    list-style-type:none;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:0px;
} 


#nav a {
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    color: black;
}
#nav a:hover {
    color:#0088aa;
}

#nav li {
    display:inline;
}

#nav li.selected a {
    color: #0088aa;
    font-weight: bold;
}


code {
    font-family: Monaco,"DejaVu Sans Mono","Courier New",monospace;
    font-size: 13px;
    line-height: 150%;
}

pre {
    border: 2px solid #808080;
    background-color: #f2f2f2;
    color: #000;
    padding: 10px;
    white-space: pre;
}

.tclcode {
    background-color: #FCF8B9; 
}

.twocolumn {
    overflow: auto;
    width: 100%;
}

pre.left {
    float:left;
    width:300px;
}

pre.right {
    float:right;
    width:300px;
}


.figure {
    text-align: center;
}

.figure .caption {
    font-weight: normal;
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.todo {
    background-color: #FFBCB8;
    color: white;
}

span.todo {
    background-color: transparent;
    color: #FF7878
}

div.todo {
    background-color: transparent;
    color: #FF7878
}

.discuss {
    background-color: #03c03c;
    color: white;
}

span.discuss {
    background-color: transparent;
    color: #03c03c
}

div.discuss {
    background-color: transparent;
    color: #03c03c
}


.floatleft {
    float: left;
    margin-right: 10px;
}

#beta, #commands {
    background-color: #fdfd96;
    -moz-border-radius: 6px; 
    border-radius: 6px; /* standards-compliant: (IE) */    
}


/* On a big screen show the index on the left */
@media all and (min-width: 950px) {
    #TOC {
	position: fixed;
	/*border:1px solid white;*/
	max-width: 300px;
	z-index:100;
	left: 720px;
	padding:0px;
    }
    #TOC a:link {
	/*color: white;*/
	text-decoration: none;
    }
    #TOC a:visited {
	/* color: white; */
    }
    
    #TOC ul {
	padding-left: 20px;
	margin-top: 0px;
	/* color: white; */
    }
}


