ul {
    list-style-type: none;
}


h4.option {
    margin-bottom: 0px;
}

p.option {
    margin-left: 20px;
    margin-top: 0px;
}

h4.command {
    margin-bottom: 0px;
}

p.command {
    margin-left: 20px;
    margin-top: 0px;
}

pre.command {
    margin-left: 20px;
}

h5.command {
    margin-left: 20px;
}

.sub_command {
    margin-left: 40px;
}

h5.sub_command {
    margin-bottom: 2px;
    margin-left: 20px;
}

p.sub_command {
    margin-top: 2px;
}

pre.sub_command {
    margin-left: 40px;
    font-weight: bold;
}