ul {
    list-style-type: none;
}

table td p {
    margin-top: 0px
}

h2 {
    font-size: 150%;
    color: #505050;
    background: #cce7ee;
    /* rgba(0, 136, 170, 0.2); */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-top: 40px;
    border-top: 1px solid #505050;
    border-bottom: 1px solid #505050
}