varia/*
*~
.DS_Store
._.DS_Store
.Rapp.history
.Rhistory
.RData
*.o
*.so
*.tar.gz
Tcl/Makefile
Tcl/config.log
Tcl/config.status
plans/
autom4te.cache/
website/md/generated/
*.Rproj
.Rproj.user
debug/bugs/known_bugs.html
loon.Rcheck/
R.Rcheck/
/loon_*
*.bak
